---
---

@import 'jekyll-theme-architect';

.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.poster-image {
  max-width: 45%;
  height: auto;
  margin-bottom: 20px;
}
